@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Fragment+Mono:ital@0;1&family=Kode+Mono:wght@400..700&family=Share+Tech+Mono&family=Sono:wght@200..800&family=VT323&display=swap');

:root {
  --primaryColor: #fff;
  --navColor1: #21292c;
  --navColor2: #aa3e39;
  --navColor3: #aa6e39;
  --navColor4: #236267;
  --navColor5: #2c8437;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
  font-family:"Sono", monospace;
}

/* --- Navigation Menu ------------------------------ */

/* Overlay */
.overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateX(-100vw);
}

.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
}

.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100vw);
}

/* Nav Menu Items */
nav,
nav ul {
  height: 100vh;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
}

nav ul li {
  height: 20%;
  overflow: hidden;
}

nav li a {
  position: relative;
  top: 45%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
}

nav li a:hover {
  transform: scale(1.2);
}

nav li a::before {
  content: "";
  width: 25vw;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 47.5%;
  left: 0;
  opacity: 0;
}

nav li a:hover::before {
  opacity: 1;
}

nav li:nth-of-type(1) {
  background-color: var(--navColor1);
}

nav li:nth-of-type(2) {
  background-color: var(--navColor2);
}

nav li:nth-of-type(3) {
  background-color: var(--navColor3);
}

nav li:nth-of-type(4) {
  background-color: var(--navColor4);
}

nav li:nth-of-type(5) {
  background-color: var(--navColor5);
}

/* Slide in animation with delay for each */
.slide-in-1 {
  animation: slide-in 0.4s linear 0.2s both;
}

.slide-in-2 {
  animation: slide-in 0.4s linear 0.4s both;
}

.slide-in-3 {
  animation: slide-in 0.4s linear 0.6s both;
}

.slide-in-4 {
  animation: slide-in 0.4s linear 0.8s both;
}

.slide-in-5 {
  animation: slide-in 0.4s linear 1s both;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

/* Slide out animation with delay for each */
.slide-out-1 {
  animation: slide-out 0.3s linear 0.5s both;
}

.slide-out-2 {
  animation: slide-out 0.3s linear 0.4s both;
}

.slide-out-3 {
  animation: slide-out 0.3s linear 0.3s both;
}

.slide-out-4 {
  animation: slide-out 0.3s linear 0.2s both;
}

.slide-out-5 {
  animation: slide-out 0.3s linear 0.1s both;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

/* --- Menu Bars ------------------------------------ */

.menu-bars {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  display: inline;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  background-color: #fff;
  margin: 8px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

/* --- Sections ------------------------------------ */

section {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  color: var(--primaryColor);
}

section#about,#skills,#projects,#contact{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  color: var(--primaryColor);
}

.yellow-color{
  color: #FFDC00;
}

section#home .social {
  position: absolute;
  z-index: 2;
  top: 1.5rem;
  left: 1.5rem;
  text-decoration: none;
  font-size: 2rem;
  padding-bottom: 5px;
  color: var(--primaryColor);
}

section#home .social i:hover {
 color: #FFDC00;
}

section#about {
  background-color: #212124;
}

section#skills {
  background-color: #1a1a1d;
}

section#projects {
  background-color: #222426;
}

section#contact {
  background-color: #212124;
}

.my-text{
  position: relative;
  display: block;
  top:30%;
  left:5%;
}

.my-text h2{
  font-size: 280%;
}

.my-text h3{
  font-size: 200%;
}

.my-text p{
  line-height: 30px;
}

.timeline{
  margin: 5em auto;
  max-width: 34.15em;
}

.header h2 {
  font-size: 250%;
}

.prog-set{
  margin: 8em auto;
  max-width: 60.15em;
}

.project-lists{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 30px;
  margin: 8em auto;
}

.timeline .header{
  margin-top: -60px;
  max-width: 60.15em;
}

.header-text{
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 180%;
}

.checkpoint{
  max-width: 34em;
  padding-top: 2em;
  padding-bottom: 2em;
  position: relative;
}

.checkpoint div{
  border: 2px solid #888;
  border-radius: 1em;
  padding: 1.5em;
}

.checkpoint p{
  line-height: 25px;
  color:#ccc;
}

.checkpoint:nth-child(odd){
  border-left: 3px solid #888;
  padding-left: 3em;
  transform: translateX(17em);
}

.checkpoint:nth-child(even){
  border-right: 3px solid #888;
  padding-right: 3em;
  transform: translateX(-17em);
}

.checkpoint:nth-child(odd)::before,
.checkpoint:nth-child(even)::before{
  content: '';
  background:#888;
  width: 3em;
  height: 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.checkpoint:nth-child(odd)::before{
  left:0;
}

.checkpoint:nth-child(even)::before{
  right:0;
}

.checkpoint:nth-child(odd) div::before,
.checkpoint:nth-child(even) div::before{
  content: '';
  background: #fff;
  box-shadow: 0 0 0.5em #F4D03F;
  width: 0.8em;
  height: 0.8em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.checkpoint:nth-child(odd) div::before{
  left: -0.5em;
}

.checkpoint:nth-child(even) div::before{
  right: -0.5em;
}

/* marquee */
.marquee {
  position: absolute;
  bottom: 0px;
  width: 100%;
  overflow: hidden;
  font-family: "Share Tech Mono", monospace;
  font-weight: 600;
  font-size: 34px;
  text-transform: uppercase;
  background-color: #FFDC00;
}

.marquee__inner {
  display: flex;
}

.marquee__line {
  flex-shrink: 0;
  margin: 0;
  padding: 10px 15px;
  min-width: 100%;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 25s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes marqueeLine {
  from {
    transform: translateX(0);
  }
  
  to {
    transform: translateX(-100%);
  }
}
/* Contact Form */
.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
  margin: 5em auto;
}

/* Left contact page */
.form-control, 
textarea {
  max-width: 400px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 2;
  color: #aaa;
}

.list-item i{
  font-size: 20px;
}
.contact-text {
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}

/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255,255,255,.6);
}

/* Youtube Banner */
.youtube-banner{
  position: absolute;
  width: 100%;
  height: 70px;
  background: #1a1a1d;
  border-color: #CD201F;
  bottom: 0;
}

.cta{
  position: relative;
  text-align: center;
}

.cta li {
  position: relative; 
  display: inline-block;
  font-size: 15px;
  color: #fff;
}

/* YouTube Button */
.youtube-btn {
  position: relative;
  width: 130px;
  height: 35px;
  border-radius: 30px;
  background-color: white;
  border: 1px #cd201f solid;
  overflow: hidden;
}

.text1 {
  font-size: 15px;
  font-weight: 600;
  margin-left: 20%;
  color: #cd201f;
}

.text2 {
  position: absolute;
  top: 25%;
  left: -90px;
  font-weight: 700;
  font-size: 14px;
  color: white;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s;
}

.icon::before {
  position: absolute;
  left: -100px;
  top: 0;
  z-index: -1;
  content: '';
  width: 130px;
  height: 33px;
  border-radius: 30px;
  background-color: #cd201f;
}

.youtube-btn:hover .icon {
  transform: translateX(96px);
  transition: transform 0.5s;
}

.youtube-btn:hover .text2 {
  transform: translateX(100px);
  transition: transform 0.6s;
}

.youtube-btn:active {
  transform: scale(1.03);
}

/* Swing Image Animation */
.swing {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  float:left;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  margin-right: 8em;
}
.swing img {
  border: 5px solid #f8f8f8;
  display: block;
}
.swing:after{
  content: '';
  position: absolute;  
  width: 20px; height: 20px;  
  border: 1px solid #999;
  top: -10px; left: 50%;
  z-index: 0;
  border-bottom: none;
  border-right: none;
  transform: rotate(45deg);
}
/* nail */
.swing:before{
  content: '';
  position: absolute;
  width: 5px; height: 5px;
  top: -14px;left: 54%;
  z-index: 5;
  border-radius: 50% 50%;
  background: #000;
}

@keyframes swing {
  0% { transform: rotate(3deg); }
  100% { transform: rotate(-3deg); }
}

/* Buttons */
button {
  --yellow: #F4D03F;
  font-size: 15px;
  padding: 0.7em 2.7em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--yellow);
  background: linear-gradient(to right, rgba(253, 238, 27, 0.1) 1%, transparent 40%,transparent 60% , rgba(253, 212, 27, 0.1) 100%);
  color: var(--yellow);
  box-shadow: inset 0 0 10px rgba(253, 212, 27, 0.4), 0 0 9px 3px rgba(253, 230, 27, 0.1);
}

button:hover {
  color: #f4f13f;
  box-shadow: inset 0 0 1px rgba(253, 230, 27, 0.6), 0 0 9px 3px rgba(253, 212, 27, 0.2);
}

button:before {
  content: "";
  position: absolute;
  left: 0em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(253, 230, 27, 0.1) 40%,rgba(253, 219, 27, 0.1) 60% , transparent 100%);
}

button:hover:before {
  transform: translateX(9em);
}

/* Cards */
.card {
  width: 300px;
  height: 325px;
  background: #e8e8e8;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  color: #212121;
  border: 2px solid #222426;
  transition: all .5s ease;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 5px;
  position: absolute;
  right: 15px;
  top: 15px;
  transition: opacity 0.5s ease;
  opacity: 0;
}

.image img{
  width: 300px;
  height: 148px;
  object-fit: cover;
  background: rgb(223,235,56);
  background: rgb(56,235,226);
  background: linear-gradient(163deg, rgba(56,235,226,1) 0%, rgba(134,221,245,1) 50%);
}

.save {
  background: #eb4b38;
  color: white;
  border: none;
  border-radius: 5px;
}

.see-more {
  background: #ab4b38;
  border: none;
  border-radius: 5px;
  color: white;
}

.save, .see-more {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  padding: 5px;
}

.save__icon, .see-more__icon {
  width: 15px;
  fill: white;
}

.card__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 15px;
  gap: 3px;
}

.page {
  font-size: 13px;
  font-weight: 300;
}

.title {
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
  color: black;
}

.content {
  font-size: 14px;
}

.card:hover {
  box-shadow: 5px 5px 10px 0px #22242666;
}

.card:hover .icons {
  z-index: 1;
  opacity: 1;
}

.card:hover .image {
  filter: brightness(.8);
}

.card:hover .title {
  color: #222426;
}

/* Media Query: Large Smartphone (Vertical) */
@media (max-width: 600px) {
  section#home a {
    top: 1rem;
    left: 1rem;
  }

  .menu-bars {
    top: 0.5rem;
    right: 1rem;
  }
}

@media screen and (max-width:1150px){
  .my-text h2{
    font-size: 140%;
    color: white;
  }
  
  .my-text h3{
    font-size: 130%;
    color: white;
  }

  .my-text p{
    width: 80vw;
  }

  .timeline{
    width:80vw;
  }

  .timeline .checkpoint{
    width: 100%;
    transform: none;
    padding-left: 0;
    padding-right: 0;
    border: none;
  }

  .timeline .checkpoint::before{
    width: 3px;
    height: 4em;
    top: -2em;
    left: 50%;
    transform: translateX(-50%);
  }

  .timeline .checkpoint div::before{
    top: -0.5em;
    left: 50%;
    transform: translateX(-50%);
  }

  .prog-set img{
    width: 100px;
    height: 100px;
    margin-left: 65px;
  }

  #projects .header-text h2{
    font-size: 120%;
    text-align: center;
  }

  .project-lists{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 8em auto;
  }

  .youtube-banner{
    height: 100px;
  }
  section#contact{
    width: 100%;
  }
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container {
    margin-top: 20px;
    font-size: 15px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {

  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  section#contact{
    width: 100%;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }  
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {
  section#contact{
    width: 100%;
  }
  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    margin: 0 auto;
  }
  .direct-contact-container {
    margin-top: 10px;
    max-width: 400px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}

